body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 3rem;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    color:aliceblue;
}

header {
    height: 10vh;
}

button {
    font-size: 2rem;
    background-color: #EDF165;
    border-radius: 25px;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #155799;
    border: #155799;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----- Tableau de jeu -----*/
.game-board {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/*----- CARD ----*/
.card {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDF165;
    border-radius: 25px;
    cursor: pointer;
    height: 350px;
    width: 600px;
    transform: rotateY(0deg);
    transition: all 0.5s;
}

.card .card-content {
    opacity: 0;
    transition: all 0.3s;
}

.card.flip{
    transform: rotateY(180deg);
}

.card.flip .card-content{
    opacity: 1;
}

.card.matched {
    border: solid 7px rgb(0, 255, 0);
    box-sizing: border-box; 
    cursor: default;
}

.card .card-content {
    max-width: 100%;
}

/*---- Footer ----*/
footer {
    height: 10vh;
    padding-bottom: 5px;
}